h1{
	text-align:center;
	font-weight:bold;
	font-size: 50px;
}


header, footer {
    padding: 2em;
    color: black;
	font-family: Courier New;
	font-weight: bold;
    clear: left;
    text-align: center;
	background-image:url("virus.jpg");
}

p{
	font-family:Courier New;
	color:black;
}

h2{
	font-family: Courier New;
	color:black;
}

h{
	font-family: Courier New;
	color:black;
}
